/*
*	General Styling (Whole Project)
*/
* {
	/* Chosen for it's user-accessibility. */
	font-family: Verdana;
}
.body {
    margin: 0;
    padding: 20px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
}

#gridContainer {
	display:grid;
	grid-template-columns:1fr 1fr;
}

@media (max-width: 600px) {
  #gridContainer {
    grid-template-columns: 1fr;
  }
}


/*
*	Navbar
*/
.navbar {
	display:flex;
	margin-bottom:15px;
}

.navbar a {
	padding:8px;
	margin-right:15px;
	border:1px solid black;
	border-radius:5px;
	text-decoration:none;
	color:white;
	font-size:24px;
	background:black;
}

.navbar a:hover {
	background-color:gray;
	transition: background-color 0.5s ease, width 0.5s ease;
}

.navbar .active {
	background:gray;
}

/*
*	Comments
*/
#commentsTable {
    display:flex;
    justify-content:center;
}

#comment {
    margin-bottom:50px;
}

/*
* Login
*/
#loginButtons {
    float:right;
}

#logoutButton {
    float:right;
}

#loginForm {
    width:50%;
    max-width: 500px;
    margin: 40px auto;
    border: 2px solid;
    border-radius: 8px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

/*
*	Developer View
*/
.box-holder {
	max-width: 100vh;
    width: 90%;
    margin: 0 auto;
    border: 2px solid;
    border-radius: 8px;
    overflow: hidden;

}