{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block body_id %}homeBody{% endblock %}
{% block content %}

<div class="logs" id="logoutButton">
    <a href="{{ url_for('logout') }}">Logout</a>
</div>

<div class="navbar">
    <a href="{{ url_for('home') }}">Home</a>
</div>
<center>
    <div id="buildTable" {% if not builds %} hidden {%endif %}>
        {% for build in builds %}
            <div class="build-container">
                <h1>{{ build.name }}</h1>
                <p><b>Description:</b> {{ build.description}}</p>
                <p><b>Instructions:</b> {{ build.instructions }}</p>
                <b><a href="{{ build.link }}" target="_blank">Build Link</a></b>
                <td>
                    <form action="{{ url_for('dev', id=build.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="button">Delete</button>
                    </form>
                </td>
            </div>
            {% endfor %}
        <!--<table border="1px solid black">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Instructions</th>
                <th>Link</th>
                <th>Button</th>
            </tr>
            </thead>
            <tbody>
            {% for build in builds %}
            <tr>
                <td>{{ build.name }}</td>
                <td>{{ build.description}}</td>
                <td>{{ build.instructions }}</td>
                <td><a href="{{ build.link }}" target="_blank">{{ build.link }}</a></td>
                <td>
                    <form action="{{ url_for('dev', id=build.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="button">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>-->
        <br>
    </div>
        <button onclick="toggleVisibility()"> Upload New Build </button>
    <div id="newBuild" {% if not invalid_build %}hidden{% endif %}>
        <h2>Upload your new build here: </h2>
        <form action="/uploadBuild" method="POST" id="uploadBuildForm">
            <div id="gridContainer">
                <label for="buildName">Name:</label>
                <input type="text" id="buildName" name="buildName" placeholder="" required>

                <label for="description">Description:</label>
                <input type="text" id="description" name="description" placeholder="" required>

                <label for="instructions">Instructions:</label>
                <input type="text" id="instructions" name="instructions" placeholder="" required>

                <label for="link">Build Link:</label>
                <input type="text" id="link" name="link" placeholder="" required>
                <p>{{invalid_build}}</p>

            </div>
            <br><br>
            <button type="submit">Upload</button>
        </form>
    </div>
    <hr>
    <div {% if feedback == [] %} hidden {%endif %}>
        <h2>Feedback to Approve</h2>
        <table border = "1px solid black">
            <thead>
                <th> Date </th>
                <th> Comment </th>
                <th> Tester Name </th>
                <th>  </th>
            </thead>
            <tbody>
            {% for comment in feedback %}
            {% if comment.accepted == False and comment.rejected == False%}
            <tr>
                <td> {{ comment.date }} </td>
                <td> {{ comment.comment }} </td>
                <td> {{ comment.user.fname}} {{ comment.user.lname }}</td>
                <td>
                    <form action="{{ url_for('acceptFeedback', id=comment.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="button"> Approve Feedback </button>
                    </form>
                    <form action="{{ url_for('rejectFeedback', id=comment.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="button"> Reject Feedback </button>
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>

        </table>
    </div>
    <div {% if not rejected %} hidden {%endif %}>
        <h2>Rejected Feedback</h2>
        <table border = "1px solid black">
            <thead>
                <th> Date </th>
                <th> Comment </th>
                <th> Tester Name </th>
                <th>  </th>
            </thead>
            <tbody>
            {% for comment in feedback %}
            {% if comment.rejected %}
            <tr>
                <td> {{ comment.date }} </td>
                <td> {{ comment.comment }} </td>
                <td> {{ comment.user.fname}} {{ comment.user.lname }}</td>
                <td>
                    <form action="{{ url_for('acceptFeedback', id=comment.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="button"> Approve Feedback </button>
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>

        </table>
    </div>
    <div {% if not accepted %} hidden {%endif %}>
        <h2>Accepted Feedback</h2>
        <table border = "1px solid black">
            <thead>
                <th> Date </th>
                <th> Comment </th>
                <th> Tester Name </th>
                <th>  </th>
            </thead>
            <tbody>
            {% for comment in feedback %}
            {% if comment.accepted%}
            <tr>
                <td> {{ comment.date }} </td>
                <td> {{ comment.comment }} </td>
                <td> {{ comment.user.fname}} {{ comment.user.lname }}</td>
                <td>
                    <form action="{{ url_for('rejectFeedback', id=comment.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="button"> Reject Feedback </button>
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>

        </table>
    </div>
</center>
<script>
        function toggleVisibility() {
            var element = document.getElementById("newBuild");
            // Toggles the 'hidden' class on click
            element.toggleAttribute("hidden");
        }
</script>
{% endblock %}